{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
            CV Clément SAVY
            {% endblock %}
            </title>
          <meta charset="UTF-8">
        {% block stylesheets %}
          <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
          <link href="{{ asset('css/NavBar.css') }}" rel="stylesheet">
          <link href="{{ asset('css/Bandeau.css') }}" rel="stylesheet">
        {% endblock %}

         {% block jquery %}
        <script src="{{ asset('jquery/jquery-3.3.1.js') }}"></script>
        {% endblock %}

        {% block javascripts %}
         <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
                        {% block head %}
                            
                        {% endblock %}
        </head>
        <body>
            {% include 'NavBar/NavBarTop.html.twig' %}
    
        <div class="rowTemplate">
            <div class="col-4 col-sm-3 col-lg-2 col-xl-2 fond">
                        
                 {% include 'Bandeaux/BandeauLeft.html.twig' %}
   
            </div>      
                
             <div class="col-8 col-sm-9 col-lg-10 col-xl-10 Contents">
                {% block body %}
                {% endblock %}
             </div>
        </div>   
        <footer id="footer">
                {% block foot %}
                  
  
                {% endblock %}
        </footer>
        </body>
    </html>