{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
            CV Clément SAVY
            {% endblock %}
            </title>
          <meta charset="UTF-8">
        {% block stylesheets %}
          <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
          <link href="{{ asset('css/NavBar.css') }}" rel="stylesheet">
          <link href="{{ asset('css/Bandeau.css') }}" rel="stylesheet">
        {% endblock %}

         {% block jquery %}
        <script src="{{ asset('jquery/jquery-3.3.1.js') }}"></script>
        {% endblock %}

        {% block javascripts %}
         <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
                        {% block head %}
                            
                        {% endblock %}
        </head>
        <body>
            {% include 'NavBar/NavbarTop.html.twig' %}
    
            <div class="rowTemplate">
                <div class="col-4 col-sm-3 col-lg-2 col-xl-2 fond">
                <div class="text-center">
                <img src="{{ asset('images/téléchargement.png') }}" class="img-fluid rounded-circle" alt="Responsive image">
                <blockquote class="blockquote text-center">
  <p class="mb-0 text-white textNameRes">Clément SAVY</p>
  <cite class=" textJobRes ColorRed">Développeur logiciel</cite>

   </blockquote>
</div>

<div class="positionTexte">
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Age :</span> 23 ans</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Date de naissance :</span> 12/04/1995</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Email :</span> Msavy.clement@gmail.com</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Tel :</span> 0635346338</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Diplome :</span> Bac +5 Master MS2I</p>
<p class="mb-0 text-white  TableInfo textBnadeau"><span class="ColorRed">Adresse :</span> Lorient 56670</p>
</div>
                 
            

   
                </div>      
                
             <div class="col-6 col-sm-3">
                {% block body %}
                {% endblock %}</div>
            </div>   
        <footer id="footer">
                {% block foot %}
                  
  
                {% endblock %}
        </footer>
        </body>
    </html>