{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
            CV Clément SAVY
            {% endblock %}
            </title>
          <meta charset="UTF-8">
        {% block stylesheets %}
          <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
          <link href="{{ asset('css/NavBar.css') }}" rel="stylesheet">
          <link href="{{ asset('css/Bandeau.css') }}" rel="stylesheet">
        {% endblock %}

         {% block jquery %}
        <script src="{{ asset('jquery/jquery-3.3.1.js') }}"></script>
        {% endblock %}

        {% block javascripts %}
         <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
                        {% block head %}
                            
                        {% endblock %}
        </head>
        <body>
            {% include 'NavBar/NavbarTop.html.twig' %}
    
            <div class="rowTemplate">
                <div class="col-2  fond">
                <div class="text-center">
                <img src="{{ asset('images/téléchargement.png') }}" class="img-fluid rounded-circle" alt="Responsive image">
                <blockquote class="blockquote text-center">
  <p class="mb-0 text-white textNameRes">Clément SAVY </p>
  <cite class=" textJobRes ColorRed">Développeur logiciel</cite>
<p class="mb-0 text-white ">Email : Msavy.clement@gmail.com</p>
</blockquote>

                </div>
                 
            
  <table class="text-white TableInfo table" >
    <thead>
      <tr>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Age</td>
        <td>23 ans</td>
        
      </tr>
      <tr>
        <td>Email</td>
        <td>Msavy.clement@gmail.com</td>
        
      </tr>
      <tr>
        <td>Tel</td>
        <td>0635346338</td>
      </tr>
        <tr>
        <td>Diplome</td>
        <td>BAC +5</td>
      </tr>
       <tr>
        <td>Adresse</td>
        <td>Lorient 56100</td>
      </tr>
    </tbody>
  </table>
</div>
            
                
             <div class="col-6 col-sm-3">
                {% block body %}
                {% endblock %}</div>
            </div>   
        <footer id="footer">
                {% block foot %}
                  
  
                {% endblock %}
        </footer>
        </body>
    </html>